body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background: #7ed6df;
}

div p:before {
  content: '∘';
}

div, label, input, p {
  margin-top: 5px;
}

select {
  height: 35px;
}

select, textarea {
  width: 81%;
  border-radius: 3px;
}

button {
  background: #2E86C1;
  color: white;
  margin-top: 10px;
  width: 80px;
  height: 35px;
  font-size: 15px;
  border: none;
  border-radius: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  font-weight: 500;
  transform: scale(0.9);
}

#title, #description {
  text-align: center;
}

#survey-form {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #F8F9F9;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 15px;
  height: 100%;
}

.personal {
  margin: 15px;
}

.data {
  display: flex;
}

.data label {
  width: 50%;
  height: 35px;
  text-align: right;
  padding-top: 10px;
  padding-right: 10px;
}

.data input {
  width: 37.2%;
  height: 35px;
  text-align: left;
  padding-left: 10px;
  border-radius: 2px;
  border: 1px solid rgb(169, 169, 169);
}

.column1, .column2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px 10px;
}

.container {
  display: flex;
  margin: 15px;
}

.column1 {
  text-align: right;
}

.column2 {
  text-align: left;
}

@media (max-width: 1024px) {
  #survey-form {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .container{
    flex-direction: column;
    align-items: center;
  }

  .data {
    flex-direction: column;
  }

  .data label {
    width: 100%;
    text-align: left;
  }

  .data input {
    width: 90%;
  }

  .column1, .column2 {
    width: 100%;
    text-align: left;
    padding: 0;
  }
}
